<div class="container">
 <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-9">
   <p>ようこそ、ながのCAKEへ！</p>
   <p>このサイトは、ケーキ販売のECサイトになります。</p>
   <p>会員でない方も商品の閲覧はできますが、</p>
   <p>購入には会員登録が必要になります。</p>
  </div>
 </div>

<div class="row mb-4">
  <h5>新着商品</h5>
</div>
 <div class="row">
  <% @item_latest4.each do |item| %>
   <div class="col-lg-3 mb-4">
    <%= attachment_image_tag item, :image, format: 'jpeg', size: '200x150' %><br>
    <%= item.name %><br>
    ￥<%= item.with_tax_price.to_s(:delimited) %><br>
   </div>
  <% end %>
 </div>
 <div class="row">
  <div style="margin: 0 0 10px auto; width: 18%;">
   <%= link_to "全ての商品を見る>", public_items_path %>
  </div>
 </div>

</div>



